<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group</title>
</head>
<body>
    <div class="mx-auto m-5">
        <div class="container px-4">
            <div class="row text-center">
                <h1>Group {{currentGroup.id + 1}}</h1>
            </div> <br>
            <div class="row text-center">
                <div class="col-sm-2"></div>
                <h2 class="col-sm-3">Select Channel</h2>
                <div class="col-sm-6 ">
                    <a class="btn btn-outline-warning mx-2" routerLink="/home">Back</a>
                    <a class="btn btn-outline-danger mx-2" routerLink="/home">Leave Group</a>
                    <a class="btn btn-outline-primary mx-2" routerLink="/group">Create Channel</a>
                </div>
            </div>
            <div class="mx-auto " style="max-width: 60vw">
                <div class="row p-3">
                    <div class="card border-info">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p class="fw-bold">Channel1 Name</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="fw-light">A description of sorts</p>
                                </div>
                                <div class="col text-center">
                                    <a class="btn btn-primary mx-2" routerLink="/chat">Open Channel</a>
                                    <a class="btn btn-outline-danger">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="card border-info">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p class="fw-bold">Channel2 Name</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="fw-light">A description of sorts</p>
                                </div>
                                <div class="col text-center">
                                    <a class="btn btn-primary mx-2" routerLink="/chat">Open Channel</a>
                                    <a class="btn btn-outline-danger">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="card border-info">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p class="fw-bold">Channel3 Name</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="fw-light">A description of sorts</p>
                                </div>
                                <div class="col text-center">
                                    <a class="btn btn-primary mx-2" routerLink="/chat">Open Channel</a>
                                    <a class="btn btn-outline-danger">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="card border-info">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p class="fw-bold">Channel4 Name</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="fw-light">A description of sorts</p>
                                </div>
                                <div class="col text-center">
                                    <a class="btn btn-primary mx-2" routerLink="/chat">Open Channel</a>
                                    <a class="btn btn-outline-danger">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <br>
            <div class="card mx-auto border-info" style="max-width: 60vw">
                <h5 class="card-header">Users</h5>
                <ul class="list-group list-group">
                    <!-- Loop for users -->
                    <li class="list-group-item" *ngFor="let user of allUsers">
                        <div *ngIf="user.groups.includes('group' + (currentGroup.id + 1))">
                            <div class="row">
                                <div class="col-2">{{user.username}}</div>
                                <div class="col-4">
                                    <p class="fw-light fst-italic">{{user.roles[user.roles.length-1]}}</p>
                                </div>
                                <div class="col">
                                    <button *ngIf="user.roles.length == 1 && currentUser.roles.length > 1" class="btn btn-outline-success m-2" (click)="promoteToGroupAdmin(user.username, 'group Admin')">Promote to Group Admin</button>
                                    <button *ngIf="user.roles.length == 1 && currentUser.roles.length > 1" class="btn btn-outline-danger m-2" (click)="removeUser(user.username)">Remove</button>
                                    <button *ngIf="user.roles.length < 3 && currentUser.roles.length > 2" class="btn btn-outline-success m-2" (click)="promoteToSuperAdmin(user.username, 'super Admin')">Promote to Super Admin</button>
                                    <button *ngIf="user.roles.length == 1 && currentUser.roles.length > 1" class="btn btn-outline-danger m-2"(click)="deleteUser(user.username)">Delete User</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--  -->
                </ul>
            </div> <br> <br>
        </div>
    </div>
    <router-outlet></router-outlet>
</body>
</html>