<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <div class="mx-auto m-5">
        <div class="container px-4">
            <div class="row text-center">
                <div class="col-sm-2"></div>
                <h2 class="col-sm-3">chat #1</h2>
                <div class="col-sm-6 ">
                    <a class="btn btn-outline-warning" routerLink="/group">Back to group</a>
                </div>
            </div> <br>
            <div class="mx-auto " style="max-width: 80vw">
                <div class="card border-info">
                    <div class="card-body">
                        <div class="card border-info">
                            <h5 class="card-header">Username123</h5>
                            <div class="card-body">
                                <p class="card-text">a comment that they have made</p>
                            </div>
                        </div> <br>
                        <div class="card border-info">
                            <h5 class="card-header">Username456</h5>
                            <div class="card-body">
                                <p class="card-text">response from username456</p>
                            </div>
                        </div> <br>
                        <div class="card border-info">
                            <h5 class="card-header">Username123</h5>
                            <div class="card-body">
                                <p class="card-text">username123 defends their point</p>
                            </div>
                        </div> <br>
                        <div class="card border-info">
                            <h5 class="card-header">Username789</h5>
                            <div class="card-body">
                                <p class="card-text">username789 chimes in a counter-point</p>
                            </div>
                        </div> <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</body>
</html>