<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <div class="mx-auto m-5">
        <div class="container px-4">
            <div class="row text-center">
                <div class="col-sm-2"></div>
                <h2 class="col-sm-3">chat #1</h2>
                <div class="col-sm-6 ">
                    <a class="btn btn-outline-warning" routerLink="/group">Back to group</a>
                </div>
            </div> <br>
            <div class="mx-auto " style="max-width: 80vw">
                <div class="card border-info">
                    <div class="card-body">
                        <div class="card border-info">
                            <div class="row card-header">
                                <div class="col-10">
                                    <h5>User123</h5>
                                </div>
                                <div class="col">
                                    <button class="btn btn-outline-danger">Remove User</button>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">a comment that they have made</p>
                            </div>
                        </div> <br>
                        <div class="card border-info">
                            <h5 class="card-header">User234</h5>
                            <div class="card-body">
                                <p class="card-text">response from user234</p>
                            </div>
                        </div> <br>
                        <div class="card border-info">
                            <div class="row card-header">
                                <div class="col-10">
                                    <h5>User123</h5>
                                </div>
                                <div class="col">
                                    <button class="btn btn-outline-danger">Remove User</button>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">user123 defends their point</p>
                            </div>
                        </div> <br>
                        <div class="card border-info">
                            <h5 class="card-header">User345</h5>
                            <div class="card-body">
                                <p class="card-text">user345 chimes in a counter-point</p>
                            </div>
                        </div> <br>
                        <div class="card border-info">
                            <h5 class="card-header">Chat Here</h5>
                            <div class="card-body">
                                <!-- <p class="card-text">user345 chimes in a counter-point</p> -->
                                <input type="text" [(ngModel)]="messagecontent" name="messagecontent" class="form-control"/>
                                <button (click)="chat()" class="btn btn-primary">Chat</button>
                            </div>
                        </div> <br>
                        <ul>
                            <li *ngFor="let message of messages">
                                <div class="card border-info">
                                    <h5 class="card-header">User345</h5>
                                    <div class="card-body">
                                        <p class="card-text">{{message}}</p>
                                    </div>
                                </div> <br>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</body>
</html>