<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="height: 100vh;">
  <nav class="navbar navbar-expand-lg navbar-light bg-primary-subtle">
    <div class="container-fluid">
      <a class="navbar-brand">ChatPlication</a>
      <!-- <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/create-user">Create User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/group">Groups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/chat">Chat</a>
          </li>
        </ul>
      </div> -->
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <div class="text-center" *ngIf="sharedService.isLoggedIn">
        <!-- <p class="fw-bold">Welcome, {{currentUser.username}}: </p> -->
        <button class="btn btn-outline-warning mx-1" type="submit" routerLink="/login" (click)="onLogout()">Logout</button>
        <button class="btn btn-outline-primary mx-1" type="submit" routerLink="/create-user" (click)="onLogout()">Create Account</button>
        <button class="btn btn-outline-danger mx-1" type="submit" routerLink="/login" (click)="onDeleteAccount()">Delete Account</button>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</body>
</html>