<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <div class="mx-auto m-5">
        <div class="container px-4">
            <div class="row text-center">
                <h1>Welcome to ChatPlication, {{currentUser.username}}</h1>
            </div> <br>
            <div class="row text-center">
                <div class="col-sm-2"></div>
                <h2 class="col-sm-3">Select A Group</h2>
                <!-- <div class="col-sm-1"></div> -->
                <div class="col-sm-6 ">
                    <button *ngIf="currentUser.roles.length > 1"class="btn btn-outline-primary" (click)="onCreateGroup()">Create Group</button>
                </div>
            </div>
            <br>
            <br>
            <div class="row gx-5" >
                <!--  -->
                <div class="col" style="min-width: 400px; max-width: 500px;" *ngFor="let group of currentGroups">
                    <div class="card border-info">
                        <div class="card-header">
                            <div class="row">
                                <h4 class="col-9">Group {{group.id + 1}}</h4>
                                <button *ngIf="currentUser.roles.length > 1 && currentUser.groups.includes('group' + (group.id + 1))" class="col btn btn-outline-danger" (click)="onDeleteGroup(group.id)">Delete</button>
                                <button *ngIf="currentUser.roles.length == 1 && currentUser.groups.includes('group' + (group.id + 1))" class="col btn btn-outline-warning">Leave</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-body-secondary">All about {{group.id + 1}}'s!</p>
                            <div class="text-center">
                                <button *ngIf="currentUser.groups.includes('group' + (group.id + 1))" routerLink="/group" class="btn btn-primary" (click)="onAccessGroup(group.id)">Access Group</button>
                                <button *ngIf="!currentUser.groups.includes('group' + (group.id + 1))" class="btn btn-primary">Register Interest</button>
                            </div>
                        
                        </div>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</body>
</html>